.liquidGlassCard {
  position: relative;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  transition: opacity 0.26s ease-out;
  filter: drop-shadow(-8px -10px 46px rgba(0, 0, 0, 0.37));
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
}

.liquidGlassCardBefore {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  box-shadow: 
    inset 6px 6px 0px -6px rgba(255, 255, 255, 0.3),
    inset 0 0 8px 1px rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.liquidGlassCardContent {
  position: relative;
  z-index: 1;
}

